#navbar {
	width: 100%;
	text-align: center;
}

.footer {
	padding-top: 50px;
	text-align: center;
}

h2 {
	text-align: left;
}

.form {
	display: inline-block;
}

h4 {
	display: inline-block;
}

#select_prova {
	display: inline-block;
}

.button {
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: white;
  background: #0199d9;
}