{% extends "provas/base.html" %}

{% block title %}Provas{% endblock %}

{% block content %}
	{% if success %}
		<h1>Submissão concluída!</h1>
		<h2><a href="{% url 'submit' %}">Adicionar outra</a></h2>
	{% else %}
		<h2>Submeter prova</h2>
		<form action="{% url 'prova' %}" method="post">{% csrf_token %}
		  {{ prova_form }}
		  <input type="submit" value="Enviar Prova">
		</form>

		<h2>Submeter questão</h2>
		<form action="{% url 'questao' %}" method="post">{% csrf_token %}
		  {{ questao_form }}
		  <input type="submit" value="Enviar Questão">
		</form>

		<h2>Submeter alternativa</h2>
		<form action="{% url 'alternativa' %}" method="post">{% csrf_token %}
		  {{ alternativa_form }}
		  <input type="submit" value="Enviar Alternativa">
		</form>
	{% endif %}
{% endblock %}

