{% extends "provas/base.html" %}

{% block title %}Provas{% endblock %}

{% block content %}
	<h2>{{ provas.disciplina }} {{ provas.nivel}} {{ provas.autor }} {{ provas.data }}</h2>
	<ol type="1">
	{% for questao in questoes %}
		<li>{{ questao.enunciado }}</li>
		<ol type="a">
			<li>{{ questao.alternativa_a }}</li>
			<li>{{ questao.alternativa_b }}</li>
			<li>{{ questao.alternativa_c }}</li>
			<li>{{ questao.alternativa_d }}</li>
			<li>{{ questao.alternativa_e }}</li>
		</ol>
	{% endfor %}
	</ol>
{% endblock %}